<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <div class="row">
        <div class="column">
          <img src="../images/car1.png" alt="" style="width:50%">
        </div>
        <div class="column">
          <img src="../images/car2.png" alt="" style="width:50%">
        </div>
        <div class="column">
          <img src="../images/car3.png" alt="" style="width:50%">
        </div>
      </div>
</body>
</html>